openapi: 3.0.3
info:
  title: EazyShop Products APIs Definition
  description: |
    # About Us
    ***EazyShop*** is a open market product selling company. Any website can list our products by  using our ___APIs___. Shipping & other logistics will be taken care by us. You will get an `Affiliate commision` for selling our products.
    # Categories supported
      - Mobiles
        - Apple
        - Samsung
        - OnePlus
      - Laptops
      - Televisions
      - Headphones
  termsOfService: https://eazyshop.com/terms
  contact:
    name: API Support
    url: https://eazyshop.com/support
    email: support@eazyshop.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 0.0.1
servers:
  - url: https://development.eazyshop-server.com/v1
    description: Development server
  - url: https://staging.eazyshop-server.com/v1
    description: Staging server
  - url: https://api.eazyshop-server.com/v1
    description: Production server
  - url: https://{username}.server.com:{port}/{version}
    variables:
      username:
        default: demo
        description: This value is assigned by the service provider
      port:
        default: "433"
        enum:
          - "8443"
          - "443"
      version:
        default: v1
tags:
  - name: Categories
    description: Categories related operations
  - name: Products
    description: Products-related operations
  - name: Orders
    description: Orders-ralated operations
paths:
  /categories:
    get:
      tags:
        - Categories
      summary: List all categories
      description: Returns the list of categories supported by EazyShop
      parameters:
        - name: categoryId
          in: query
          schema:
            type: integer
            minimum: 100
            maximum: 1000
          examples:
            mobiles:
              summary: Use this example for mobile
              value: 101
            laptops:
              value: 102
            headphones:
              value: 103
            televisions:
              value: 104
      responses:
        '200':
          description: A list of categories
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    categoryId:
                      type: integer
                    name:
                      type: string
              examples:
                all-catigories-data:
                  summary: Categories example data
                  value:
                    - categoryId: 101
                      name: Mobiles
                    - categoryId: 102
                      name: Laptops
                    - categoryId: 103
                      name: Headphones
                    - categoryId: 104
                      name: Televisions
                single-category-data:
                  summary: Single category example data
                  value:
                    - categoryId: 101
                      name: Televisions
  /categories/{categoryId}:
    get:
      tags:
        - Categories
      summary: Return category details
      description: Returns the category details from EazyShop
      parameters:
        - name: categoryId
          in: path
          required: true
          schema:
            type: integer
            minimum: 100
            maximum: 1000
      responses:
        '200':
          description: Return category details
          content:
            aplication/json:
              schema:
                type: object
                properties:
                  categoryId:
                    type: integer
                  name:
                    type: string
  /products:
    get:
      tags:
        - Products
      summary: List all products
      description: Returns the list of products supported by EazyShop
      parameters:
        - in: query
          name: categoryId
          schema:
            type: integer
      responses:
        '200':
          description: A list of products
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    productId:
                      type: integer
                    name:
                      type: string
                    price:
                      type: integer
                    categoryName:
                      type: string
                    quantity:
                      type: integer
                      description: |
                        ***Quantity*** represents `stock` value when this field 
                        is being sent by EazyShop.Where as in the scenarios of 
                        consumer sending this field, it represents `number of 
                        product items` inside the order. Consumers are expected 
                        to handle the scenario of stopping the end user <u>*when 
                        the stock value is 0*</u>
              examples:
                products-example:
                  summary: Products example data
                  value:
                    - productId: 101
                      name: Apple Iphone 15 Pro
                      price: 800
                      categoryName: Mobiles
                      quantity: 55
                    - productId: 102
                      name: Google Pixel 9 Pro
                      price: 1000
                      categoryName: Mobiles
                      quantity: 76
                    - productId: 103
                      name: Xiaomi 14
                      price: 800
                      categoryName: Mobiles
                      quantity: 31
  /products/{productId}:
    get:
      tags:
        - Products
      summary: Returns product details
      description: Returns the product details from EazyShop
      parameters:
        - in: path
          name: productId
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Return product details
          content:
            application/json:
              schema:
                type: object
                properties:
                  productId:
                    type: integer
                  name:
                    type: string
                  price:
                    type: integer
                  categoryName:
                    type: string
                  quantity:
                    type: integer
                    description: |
                      ***Quantity*** represents `stock` value when this field 
                      is being sent by EazyShop.Where as in the scenarios of 
                      consumer sending this field, it represents `number of 
                      product items` inside the order. Consumers are expected 
                      to handle the scenario of stopping the end user <u>*when 
                      the stock value is 0*</u>
  /orders:
    post:
      tags:
        - Orders
      summary: Create order
      description: Post order details to EazyShop for processing and shipping
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                products:
                  type: array
                  items:
                    type: object
                    properties:
                      productId:
                        type: integer
                      name:
                        type: string
                      categoryName:
                        type: string
                      quantity:
                        type: integer
                        description: |
                          ***Quantity*** represents `stock` value when this field
                          is being sent by EazyShop.Where as in the scenarios of
                          consumer sending this field, it represents `number of 
                          product items` inside the order. Consumers are expected 
                          to handle the scenario of stopping the end user <u>*when
                          the stock value is 0*</u>
                address:
                  type: object
                  properties:
                    addressLine:
                      type: string
                    city:
                      type: string
                    state:
                      type: string
                    zipcode:
                      type: string
      responses:
        '201':
          description: Order created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: integer
    put:
      tags:
        - Orders
      summary: Update order
      description: Update order details to EazyShop for processing and shipping
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                orderId:
                  type: integer
                products:
                  type: array
                  items:
                    type: object
                    properties:
                      productId:
                        type: integer
                      name:
                        type: string
                      categoryName:
                        type: string
                      quantity:
                        type: integer
                        description: |
                          ***Quantity*** represents `stock` value when this field
                          is being sent by EazyShop.Where as in the scenarios of 
                          consumer sending this filed, it represents `number of 
                          product items` inside the order. Consumers are expected 
                          to handle the scenario of stopping the end user <u>*when 
                          the stock value is 0*</u>
                address:
                  type: object
                  properties:
                    addressLine:
                      type: string
                    city:
                      type: string
                    state:
                      type: string
                    zipcode:
                      type: string
      responses:
        '200':
          description: Order details updated successfully
    delete:
      tags:
        - Orders
      summary: Delete order
      description: Delete order details from EazyShop
      parameters:
        - $ref: "#/components/parameters/orderIdQueryParam"
      responses:
        '204':
          description: Order successfully cancelled
    get:
      tags:
        - Orders
      summary: Get order details
      description: Get order details from EazyShop
      parameters:
        - $ref: "#/components/parameters/orderIdQueryParam"
      responses:
        '200':
          description: Fetch order details successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: integer
                  products:
                    type: array
                    items:
                      type: object
                      properties:
                        productId:
                          type: integer
                        name:
                          type: string
                        categoryName:
                          type: string
                        quantity:
                          type: integer
                          description: |
                            ***Quantity*** represents `stock` value when this field 
                            is being sent by EazyShop.Where as in the scenarios of 
                            consumer sending this field, it represents `number 
                            of product items` inside the order. Consumers are expected 
                            to handle the scenario of stopping the end user <u>*when 
                            the stock value is 0*</u>
                  address:
                    type: object
                    properties:
                      addressLine:
                        type: string
                      city:
                        type: string
                      state:
                        type: string
                      zipcode:
                        type: string
components:
  parameters:
    orderIdQueryParam:
      name: orderId
      in: query
      required: true
      schema:
        type: integer