openapi: 3.0.3
info:
  title: EazyShop Products APIs Definition
  description: |
    Using this OpenAPI specification, 
    any consumer can understand
    the API that are exposed by EazyShop
  termsOfService: https://eazyshop.com/terms
  contact:
    name: API Support
    url: https://eazyshop.com/support
    email: support@eazyshop.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 0.0.1
servers:
  - url: https://development.eazyshop-server.com/v1
    description: Development server
  - url: https://staging.eazyshop-server.com/v1
    description: Staging server
  - url: https://api.eazyshop-server.com/v1
    description: Production server
  - url: https://{username}.server.com:{port}/{version}
    variables:
      username:
        default: demo
        description: This value is assigned by the service provider.
      port:
        default: "433"
        enum:
          - "8443"
          - "443"
      version:
        default: v1
paths:
  /categories:
    get:
      summary: List all categories
      description: Returns the list of categories supported by EazyShop
      responses:
        '200':
          description: A list of categories
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    categoryId:
                      type: integer
                    name:
                      type: string